@media screen and (max-width:2600px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }

    img {
        margin-top: 20px;
        width: 30.7692vw;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }


    .container {
        float: left;
        max-width: 2600px;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 20px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:1920px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }

    img {
        margin-top: 20px;
        width: 41.6667vw;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }


    .container {
        float: left;
        max-width: 1920px;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 24px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:1640px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }

    img {
        margin-top: 20px;
        width: 48.7805vw;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }

    .container {
        float: left;
        max-width: 1640px;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 24px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:1280px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }

    img {
        margin-top: 20px;
        width: 62.5000vw;
    }

    .container {
        float: left;
        max-width: 1280px;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 24px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:1160px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }

    img {
        margin-top: 20px;
        width: 68.9655vw;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }

    .container {
        float: left;
        max-width: 1160px;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 24px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:992px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }

    img {
        margin-top: 20px;
        width: 80.6452vw;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }

    .container {
        float: left;
        max-width: 992px;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 24px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:768px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }

    img {
        margin-top: 20px;
        width: 104.1667vw;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }

    .container {
        float: left;
        max-width: 768px;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 24px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:576px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }

    img {
        margin-top: 20px;
        width: 138.8889vw;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }

    .container {
        float: left;
        max-width: 576px;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 24px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:400px) {
    .tit {
        margin-bottom: 200px;
    }

    .first{
        margin: 50px 0 200px 0;
    }

    .past {
        color: #999;
    }
    
    img {
        margin-top: 20px;
        width: 200.0000vw;
    }

    html,
    body {
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: 'Exo 2', sans-serif;
        font-family: 'Noto Serif KR', serif;
    }

    .container {
        float: left;
        max-width: 400px;
    }

    .nav {
        background: black;
        width: 100%;
        display: flex;
        color: white;
        padding: 0 0 0 10px;
    }

    .nav>h5 {
        font-size: 24px;
        font-family: 'Noto Serif KR', serif;
    }

    .content {
        padding-left: 10px;
    }

    .content>h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 70px;
    }
}
